body {
    background-image: url("../images/bryan-goff-353928-unsplash.jpg");
    /* background-repeat: no-repeat;
    background-size:960px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 100px; */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    
}
/* .card-text{
    padding: 20px;
} */
h1 {
    font-family: 'Dancing Script', cursive;
}
.badge {
    font-size: 100px;
    color: rgb(182, 104, 35);
    background-color: rgb(24, 23, 23);
    margin-bottom: 50px;
}
p {
    color: rgb(182, 104, 35);
    font-size: 20px;
}
.btTxt {
    size: 50%;
}
.card {
    background-color:rgb(70, 68, 68);
    color: rgb(211, 207, 207);
}