body {
    background-image: url("../images/bryan-goff-353928-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}
.container{
    margin: 8%;
}

.badge-pill {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: rgb(182, 104, 35);
    background-color: rgb(24, 23, 23);
    margin-bottom: 50px;
}
p {
    color: rgb(182, 104, 35);
}
.btTxt {
    size: 50%;
}
.card {
    background-color:rgb(70, 68, 68);
    color: rgb(211, 207, 207);
}